<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>

    <script src="js/bootstrap-bootbox/bootbox.js"></script>

</head>
<body>
<form id="form" style="width:60%">
    <input type="hidden" name="id">
    商品名称：<input id="name" name="name" class="easyui-textbox" data-options="iconCls:'icon-man'" ><br/>
    库存数：<input id="num" name="num" ><br/>
    商品价格：<input id="price" name="price" ><br/>
    上架时间:<input id="time" name="uptime" type="date" ><br/>
</form>
</body>
</html>